* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'jarka';
    src: url(/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

:root {
    --red: hsl(1, 90%, 64%);
    --blue: hsl(219, 85%, 26%);
    --white: hsl(0, 0%, 100%);
    --very_ligth_grayish_blue: hsl(210, 60%, 98%);
    --ligth_grayish_blue_1: hsl(211, 68%, 94%);
    --ligth_grayish_blue_2: hsl(205, 33%, 90%);
    --grayish_blue: hsl(219, 14%, 63%);
    --dark_grayish_blue: hsl(219, 12%, 42%);
    --very_dark_blue: hsl(224, 21%, 14%);
}

body {
    font-family: 'jarka';
}